*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    background-color: #ebeef8;
}

.logo{
    display: inline-flex;
    margin: 2rem 0 2rem 0 ;
    align-items: center;
    justify-content: center;
}

.logo-head{
    margin: auto auto auto 1rem;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: auto;
    width: 25%;
    background-image: linear-gradient( rgba(0,0,0,.7), rgba(0,0,0,.7) ) , url("../images/2.jpg");
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
  }
  
.nav-item-icon{
    visibility: hidden;
}

li a {
    display: block;
    color: rgb(158, 157, 157);
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    color: rgb(255, 255, 255);
}

li a:hover:not(.active) {
    color: white;
}

.main-body{
    margin-left:25%;
    padding:1px 16px;
    color: #555;
}

.closebtn{
    visibility: hidden;
}

.header{
    display: none;
}

@media screen and (max-width:1000px){
    .nav-item{
        display: none;
    }

    .nav-item-icon{
        visibility: visible;
    }

    .icon-bar {
        width: 50px;
        padding-top: 5rem;
      }
      
      .icon-bar a {
        display: block;
        text-align: center;
        padding: 10px;
        transition: all 0.3s ease;
        color: white;
        font-size: 36px;
      }
      
      .icon-bar a:hover {
        background-color: rgb(126, 125, 125);
      }
      
      .active {
        background-color: rgb(251, 153, 107);
      }

    ul{
        width:auto;
    }

    .main-body{
        margin-left: 50px;
    }
    
    .header{
        display: block;
        text-align: center;
        padding: 2%;
        box-shadow: 10px rgb(58, 58, 58);
        background-color: rgb(51, 51, 51);
        color: white;
    }

}

.main-head{
    text-align: center;
    margin-top: 2rem;
}